h1 {
  color: black;
  font-family: 'Times New Roman', Times, serif; }

body {
  background-color: #C4CFC6; 
  }

.submit {
  background-color: white;
  color: black;
  border: 2px solid #A5C089; }
  .submit:hover {
    background-color: #A5C089;
    color: white; }
