body {
  background-color: #C4CFC6 !important;
}

@keyframes move {
  from {
    margin-left: 10%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 100%;
  }
}

to {
  margin-left: 0%;
  width: 100%;
}

.images {
  background-color: #FAF7F3;
  width: 100%;
  height: 505px;
}

.new {
  color: black;
}

.whats {
  color: #919C6C;
}

.subs, .shipping {
  text-align: left;
}

body {
  height: 2000px;
  font-family: Roboto, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
}

img {
  text-align: center;
  align-items: center;
}

.h2 {
  color: #919C6C;
}

nav li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.subhead, .third {
  display: flex;
  justify-content: space-evenly;
}

li {
  color: #A5C089;
}

button[type="submit"] {
  cursor: zoom-out;
  width: 5%;
  border: none;
  background: #919C6C;
  color: #FFF;
  margin: 5 5 5px;
  padding: 9px;
  font-size: 9px;
}

body {
  font-size: 20px;
  color: #ffffff;
  font-family: times new roman;
  align-items: flex;
}

h1 {
  font-size: 30px;
  color: #919C6C;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #919C6C;

  a {
    color: #919C6C;
  }
}

a {
  color: #FFF;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: 'Bree Serif', 'serif';
}

p {
  text-align: center;
}

body {
  font-size: 20px;
  color: #ffff;
  font-family: times new roman;
  align-items: flex;
}

h1 {
  font-size: 30px;
  color: #919C6C;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #919C6C;

  a {
    color: #919C6C;
  }
}

a {
  color: #919C6C;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: 'Bree Serif', 'serif';
}

p {
  text-align: center;
}

body {
  font-size: 20px;
  color: #919C6C;
  font-family: times new roman;
  align-items: flex;
}

h1 {
  font-size: 30px;
  color: #919C6C;
}

h3 {
  font-size: 30px;
  text-align: left;
  color: #919C6C;

  a {
    color: #919C6C;
  }
}

a {
  color: #919C6C;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: 'Bree Serif', 'serif';
}

p {
  text-align: center;
}

nav {
  margin: 0px;
  background-color: #919C6C;
  width: 100%;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    li {
      display: inline-block;
      background-color: #919C6C;
    }
  }

  a {
    display: block;
    padding: 0 12px;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;

    &:hover {
      background-color: #ffffff;
      color: #919C6C;
    }
  }

  ul {
    ul {
      display: none;
      position: absolute;
      top: 0px;
    }

    li:hover > ul {
      display: inherit;
    }

    ul {
      li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative;
      }

      ul li {
        position: relative;
        top: 0px;
        left: 170px;
      }
    }
  }
}

select {
  cursor: pointer;
  width: 10%;
  border: none;
  background: #5fb762;
  color: #FFF;
  margin: 9 9 9px;
  padding: 10px;
  font-size: 10px;
}

label {
  font-size: large;
  color: #919C6C;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h3, span {
  color: #919C6C;
}

li {
  justify-content: space-evenly;
  list-style-type: none;
  text-align: left;
}

.h4 {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: #919C6C;
}

@media screen and (min-width: 800px) {
  .img, .carousel, .gallery_wrapper, .card-group, .for_newsletter, .select_c {
    width: 100%;
  }
}

@media screen and (min-width: 400px) {
  .container, .gallery_wrapper, .card-group, .for_newsletter, .select_c {
    width: 100%;
  }
}

.follow {
  text-align: start;
}

.tgcfooter {
  background-color: #C4CFC6;
}

.card-img-top {
  width: 370,5px;
  height: 300px;
}

.socialm {
  width: 40px;
  height: 40px;
}

/* Home cards */

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;

  img {
    width: 100%;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 5px;
  }

  a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;

    &:hover i {
      margin-left: 10px;
    }
  }
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: white;
  font-size: 30px;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

/*** Table Styles **/

.table-fill {
  background: #A5C089;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #A5C089;
  background-color: white;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  &:first-child {
    border-top-left-radius: 3px;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-right: none;
  }
}

tr {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #A5C089;
  font-size: 16px;

  &:hover td {
    background: #A5C089;
    color: #FFFFFF;
    border-top: 1px solid #A5C089;
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(odd) {
    td {
      background: #EBEBEB;
    }

    &:hover td {
      background: #A5C089;
    }
  }

  &:last-child td {
    &:first-child {
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
    }
  }
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  border-right: 1px solid white;

  &:last-child {
    border-right: 0px;
  }
}

th, td {
  &.text-left {
    text-align: left;
  }

  &.text-center {
    text-align: center;
  }

  &.text-right {
    text-align: right;
  }
}